<div class="content">
  <h1 class="content__title">Hello world</h1>
  <div class="content__info">
    <div class="content__category">
      <img src="/assets/img/folder.svg" alt="category" />
      <span>Coding</span>
    </div>
    <div class="content__time">
      <img src="/assets/img/clock.svg" alt="clock" />
      <span>Edited at 12.05.2017</span>
    </div>
  </div>
  <ul class="content__tags">
    <li><a>#Laravel</a></li>
    <li><a>#PHP</a></li>
    <li><a>#PostgreSQL</a></li>
  </ul>
  <app-markdown-view></app-markdown-view>
</div>
