<div class="sidebar-search">
  <div class="search">
    <input placeholder="Search" />
    <button><img src="/assets/img/search.svg" alt="search" /></button>
  </div>
  <div class="filter">
    <div class="filter__header">
      <img src="/assets/img/filter.svg" alt="filter" />
      <span>Filter</span>
      <span></span>
    </div>
    <ul class="filter__tags">
      <li><button>#Laravel</button></li>
      <li><button>#Node.js</button></li>
      <li><button>#HTML</button></li>
      <li><button>#PostgreSQL</button></li>
      <li><button>#CSS</button></li>
    </ul>
  </div>
  <ul class="search-result">
    <li>
      <a>
        <h3>Docker images</h3>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat. Lorem ipsum dolor sit amet, qui
          minim labore adipisicing minim sint cillum sint consectetur cupidatat.
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat.
        </p>
      </a>
    </li>
    <li>
      <a>
        <h3>Docker images</h3>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat.
        </p>
      </a>
    </li>
    <li>
      <a>
        <h3>Docker images</h3>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat. Lorem ipsum dolor sit amet, qui
          minim labore adipisicing minim sint cillum sint consectetur cupidatat.
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat.
        </p>
      </a>
    </li>
    <li>
      <a>
        <h3>Docker images</h3>
        <p>
          Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum sint consectetur cupidatat.
        </p>
      </a>
    </li>
  </ul>
</div>
